<!DOCTYPE html>
<html>
<head>
  <title>footer</title>
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body >
    <footer>
      <div class="footer-content">
      <h3>Mini Quora</h3>
      <p>This is Mini-Quora here you can create your own blogs and also learn from others blogs. Enjoy!!</p>
      <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
      </div>
      <br>
      
      <center><div class="contact"> CONTACT US<br>
      <p>91919xxxxx || abc@gmail.com</p></div></center>
      <div class="footer-bottom">
        &copy;dbms2020
      </div>
</footer>
</body>
</html>