<!DOCTYPE html>
<html lang="en">

<head>

    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini-Quora</title>

    
    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/Style2.css">
    <link rel="stylesheet" href="/css/signup.css">



</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">Mini-Quora</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"> </i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="#">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Category</a>
                    </li>
                    
                    
                    <li class="nav-link">
                        <a href="#">Contact Us</a>
                    </li>
                </ul></div>
            
        
            <div>
                <ul class="nav-items">
                <li class="nav-link">
                    <%if(!logged){%>
                <a href="/user/login" > Login </a></li>
                <%}%>
                <%if(logged){%>
                <a href="/user/logout" > Logout </a></li>
                    <%}%>
                <li class="nav-link" >
                    <a href="/user/signup"> Sign-up</a></li>
                </ul>
            </div>
        </div>
    </nav>

<!--------SIGN-IN------>

<%- include("SignUP"); -%>

<!------ REGISTER/Login ------>
<%- include("Login"); -%>
    <main>

        <!------------------------ Site Title ---------------------->
  <div class="container" >
        <section class="site-title">
            
                <!-- <img   src="/images/Background-image.png"> -->
                <div class="center">
                  <div class="hover">  
                 <h1 class="site_name">MINI-QUORA</h1>
                <h3 class="site_name_des">Amazing Blogs and experiences of the people</h3><br><br>
                </div>
                <button class="btn">Explore</button>
             </div>
            </section>
    </div>

    </main>
    <div>
        <%if(logged){%>
        <%for(var i =0 ; i < posts.length; i++){%>
            <h1><%=posts[i].title %></h1>
            <img src="<%=posts[i].url%>" alt="" srcset="">
        <%}%>
        <%}%>
    </div>




  




 </body>

</html>