<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini-Quora</title>

    
    <!-- Custom Style   -->
    <link rel="stylesheet" href="../public/css/Style.css">
    <link rel="stylesheet" href="../public/css/Style2.css">
    <link rel="stylesheet" href="../public/css/signup.css">

</head>

<body>

    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">Mini-Quora</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"> </i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="#">Home</a>
                    </li>
                    <li class="nav-link">
                        <a href="#">Category</a>
                    </li>
                    
                    
                    <li class="nav-link">
                        <a href="#">Contact Us</a>
                    </li>
                </ul></div>
            
        
            <div>
                <ul class="nav-items">
                <li class="nav-link">
                <a href="#" onclick="document.getElementById('login').style.display='block';document.getElementById('signin').style.display='none'"> Login </a></li>
                <li class="nav-link" ><a href="#" onclick="document.getElementById('signin').style.display='block';document.getElementById('login').style.display='none'"> Sign-in </a></li></ul>
            </div>
        </div>
    </nav>

<!--------SIGN-IN------>

<div class="form" id="signin">
    <div class="form_heading">
        <div class="imgcontainer">
        <span onclick="document.getElementById('signin').style.display='none'"class="close" title="Close PopUp">&times;</span></div>
<h1 style="text-align: center;font-family: sans-serif;">Sign In </h1>

<p style="text-align: center;">Thankyou for your interest. Please register to become a part of our Blogging Family!</p>
</div>


<form id="sign_up" action="" method="POST" name="sign_up">
        <div class="name" style="background:#79b0ab;padding-top:10px;">
            <label for="username"> Username <span style="color:#ab0707"> * </span> </label><br>
            <input type="text" name="username" required style="width:200px"/> <br>
            <label for="name">Name <span style="color:#ab0707"> * </span> </label><br>
                <input type="text" name="name" pattern="[A-Za-z].{1,}" placeholder="First" style="width:200px" required />      <input type="text" name="name" pattern="[A-Za-z].{1,}"  placeholder="Last" style="width:200px"/></div><br>
                
        <label for="email"> Email <span style="color:#ab0707"> * </span> </label><br>
            <input type="email" name="email" required style="width:200px"/> <br><br>
            <table><tr>
        <td><label for="password">  Password <span style="color:#ab0707"> * </span> </label></td><td> <label for="password">  Re-enter your Password <span style="color:#ab0707"> * </span> </label></td></tr>
            <tr><td><input type="password" name="postion" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])" minlength="8" maxlength="16"  required style="width:200px" /> </td><td><input type="password" name="postion" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])" minlength="8" maxlength="16" required style="width:200px" /> </td></tr></table><br><br>
     
        <div style="background:#79b0ab;padding-top:10px;">
        <label for='interested_domains'> In which domain are you interested?</label><br>
            <table>
                <tr> <td><input type="checkbox" name="interested_domains" value="science"  id="science"><label for="science" style="font-weight: normal;"> Science </label></td>
                <td><input type="checkbox" name="interested_domains" value="commerce" id="commerce"><label for="commerce" style="font-weight: normal;"> Commerce </label><br></td></tr>
                <tr><td><input type="checkbox" name="interested_domains" value="technology" id="technology"><label for="technology" style="font-weight: normal;"> Technology </label></td>
                <td><input type="checkbox" name="interested_domains" value="food" id="food"><label for="food" style="font-weight: normal;"> Food </label></td></tr>
                <tr><td><input type="checkbox" name="interested_domains" value="any_other" id="any_other"><label for="any_other" style="font-weight: normal;"> Any other </label></td></tr>

            </table></div>
                
        
  
        <center><button class="form_button" type="submit" value="submit">SignUp</button></center>
        </form>
</div>

<!------ REGISTER/Login ------>
<div class="form" id="login">
    <div class="form_heading">
        <div class="imgcontainer">
        <span onclick="document.getElementById('login').style.display='none'"class="close" title="Close PopUp">&times;</span></div>
<h1 style="text-align: center;font-family: sans-serif;">Login </h1>

<p style="text-align: center;">Welcome Dear User!</p>
</div>


<form id="login" action="" method="POST" name="login">
        <div class="name" style="background:#79b0ab;padding-top:10px;">
           <center> <label for="username"> Username <span style="color:#ab0707"> * </span> </label><br>
            <input type="text" name="username" required style="width:200px"/></center> <br>
            
          <center>     
        <label for="email"> Email <span style="color:#ab0707"> * </span> </label><br>
            <input type="email" name="email" required style="width:200px"/> <br><br></center> </div>
            <center>
        <label for="password">  Password <span style="color:#ab0707"> * </span> </label>
            <br><input type="password" name="postion" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])" minlength="8" maxlength="16"  required style="width:200px" /> <br><br></center>
     
        
                
        
  
        <center><button class="form_button" type="submit" value="submit">Login</button></center>
        </form>
    </div>

    <main>

        <!------------------------ Site Title ---------------------->
  <div class="container" >
        <section class="site-title">
            
                <img   src="./assets/Background-image.png">
                <div class="center">
                  <div class="hover">  
                 <h1 class="site_name">MINI-QUORA</h1>
                <h3 class="site_name_des">Amazing Blogs and experiences of the people</h3><br><br></div>
                <button class="btn">Explore</button> </div>
            </section>
           
    </div>


 </body>

</html>