<html lang="en">
      <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

            <link rel="stylesheet" type="text/css" href="../public/css/styles.css">

            <title>Home</title>
      </head>

      <body>


          
          <!-- ======================  NAVIGATION BAR  ======================== --> 
          <div class="zone_nav">   
            <nav class="container" class="top_nav">
                <div>
                <a href="#" ><img class="profile_picture" src="images/profile_picture/no_profile_picture.webp" height="50px" width="50px" style="margin-right: 6px ; " >Profile_picture</a>
                </div>
                <div style="margin-top: 12px">
                  <ul style="display: flex;">
                   <li> <a href="#">Home</a></li>
                   <li> <a href="#">Favorites</a></li>
                  </ul>
                </div>
                <h3 style="margin-top: 6px ; font-family: sans-serif;">Mini-quora</h3>
                <input class="search_bar" type="text" name="search" placeholder="search" style="margin-right: 5px;justify-content: flex-end;float: right;">
          </nav>;
        </div>

          <!-- =============================== NAVIGATION BAR ENDS =================================  -->




          <!-- =============================== CARD GRID STARTS ====================================  -->


          <div class="card_grid" class="grid-wrapper" >  


            <!-- *********************************  CARD  ******************************************  -->           
              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%"><!--Add image url to display image this is example-->
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>
            <!-- *********************************  CARD ENDS COPY TO CREATE MORE ******************** -->


              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%">
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>

              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%">
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>

              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%">
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>

              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%">
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>

              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%">
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>

              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%">
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>
              
              <div class="card bg-info" >
                <img class="card-img-top" src="images/profile_picture/no_profile_picture.webp" alt="Card image" style="width:100%">
                  <div card-body> 
                      <div class="card-title"><h2>Author name</h2></div>
                      <div class="card-text">A brief about blog</div>
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">See blog</a>  
                      <a href="#" class="btn btn-primary stretched-link" style="margin-top: 5px">Add to favorites</a> 
                  </div>  
              </div>

          </div>
         </div>


         <!-- ================================= CARD GRID ENDS =======================================  -->
        
            <footer  style="height: 50px">footer</footer>



          <!-- ================================ BOOTSRAP JAVASCRIPT CDN ================================  -->

          <!-- Optional JavaScript -->
          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
          <div>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
          </div>

          <!-- ================================ BOOTSRAP JAVASCRIPT END =============================  -->


  </body>
</html>