
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini-Quora</title>

    
    <!-- Custom Style   -->
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="stylesheet" href="/css/Style2.css">
    <link rel="stylesheet" href="/css/signup.css">

</head>

<body>
<div class="form" id="login" style="display: <%=display1%>">
    <div class="form_heading">
        <div class="imgcontainer">
            <a href="/">
        <span class="close" title="Cancel">&times;</a></span>
    </div>
<h1 style="text-align: center;font-family: sans-serif;">Login </h1>

<p style="text-align: center;">Welcome Dear User!</p>
</div>

<form id="login" action="" method="POST" name="login" >
        <div class="name"  style="background:#79b0ab;padding-top:10px;">
           <center> <label for="username"> Username <span style="color:#ab0707"> * </span>
         </label>
            <br>
            <input type="text" name="username" required style="width:200px"/></center> <br>
            
          <center>     
        <label for="email"> Email <span style="color:#ab0707"> * </span> </label><br>
            <input type="email" name="email" required style="width:200px"/> <br><br></center> 
        </div>
            <center>
        <label for="password">  Password <span style="color:#ab0707"> * </span> </label>
            <br><input type="password" name="postion" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])" minlength="8" maxlength="16"  required style="width:200px" /> <br><br></center>
     
        
                
        
  
        <center><button class="form_button" type="submit" value="submit">Login</button></center>
        </form>
    </div>
</body>
</html>