<!-- LogIn -->
<!DOCTYPE html>
<html>
<head>
	<title>
		Login
	</title>

<style type="text/css">

body
{
	background-color: rgb(170, 169, 169,20%);
}

input
{
	margin-right: 10px;
}

button
{
	background:#3c9ce8;
	text-align: center;
	color:white;
	border-color: #3c9ce8;
	height:35px;
	width:70px;
    margin:10px;
    cursor: pointer;
}




.form
{
	margin-left: auto;
    margin-right: auto;
    width: 42em
}	
	
</style>


</head>
<body >

<h1 style="text-align: center;font-family: sans-serif;">Login </h1>

<p style="text-align: center;"></p>

<div class="form">
<form method="POST">
 <!--   
<div class="name" style="background:#dad7d7;">
<label for="firstname" >Name <span style="color:#ab0707"> * </span><br>
<input type="name" name="firstname" placeholder="First" required="firstname">	<input type="name" name="Lastname" placeholder="Last" required="Lastname"></div><br>
-->
Email <span style="color:#ab0707"> * </span><br></label>
<input type="Email" name="Email" placeholder="Email" required="Email"><br><br>
Password <span style="color:#ab0707"> * </span><br>
<input type="password" name="password" placeholder="password" required="password"><br><br>
<button type="submit" value="Login">Login</button> <br><br>

</form>
</div>

<div  style="background:#dad7d7; text-align:right;height:80px;margin-bottom: 0px;padding: 40px 50px 0 0;box-sizing: border-box;color:#656363 ;  position: fixed;bottom: 0 ; width: 100%" >Login</div>

</body>
</html>
