<link rel="stylesheet" href="/css/Style.css">
<nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="#" class="text-gray">Mini-Quora</a>
        </div>
        
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"> </i>
            </div>
        </div>
        <div >
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="/">Home</a>
                </li>
                <li class="nav-link">
                    <a href="#">Category</a>
                </li>


                <li class="nav-link">
                    <a href="#">Contact Us</a>
                </li>
            </ul>
        </div>


        <div  >
            <ul class="nav-items">
                <li class="nav-link">
                    <%if(!logged){%>
                    <a href="/user/login"> Login </a></li>
                <%}%>
                <%if(logged){%>
                <a href="/user/logout"> Logout </a></li>
                <%}%>
                <li class="nav-link" >
                    <%if(!logged){%>
                    <a href="/user/signup"> Sign-up</a></li>
                    <%}%>
                    <%if(logged){%>
                    <li class="nav-link"><a href="/post/newpost">Make A Post</a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>