
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-image: url(../../images/bg2.svg);">
    <%- include("nav"); -%>
    
    <center><h1 style="margin-top:15%;color: #3f4954;font-family:Arial">Blog Successfully Created!</h1></center>
    <div id="footer" style="position:fixed;bottom:0"><%- include("footer"); -%></div>
</body>
</html>
