@import url('../css/fonts.css');


html, body{
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --midnight: #104f55;
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin : 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic : 'Livvic', cursive;
} 


/* ---------------- Global Classes ---------------*/

a{
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}

.site_name{
    font-family: var(--Lexend);
    font-size: 4rem;
}

.site_name_des{
    font-family: var(--Abel);
    font-size: 1.8rem;
}



span{
    font-family: var(--Abel);
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    font-family: var(--Lexend);
    color: var(--text-light);
}

/* ------x------- Global Classes -------x-------*/

/* --------------- navbar ----------------- */

.nav{
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse{
    height: 30rem;
}

.nav .nav-items{
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link{
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover{
    background-color: var(--midnight);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
transform: translateY(0.1rem);
    transition: transform 150ms;
}

.nav .nav-brand a{
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .nav-items .nav-link:hover a{
    color:white;
}



/* -------x------- navbar ---------x------- */


/* ----------------- Main Content----------- */

/* --------------- Site title ---------------- */
main .site-title{
    background: url('../images/Background-image.png');
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
}
main .container{
position:relative;
text-align:center;
color:white;
}

main .site-title .site-background{
    padding-top: 10rem;
    text-align: center;
    color: var(--white);
}

.blog_name{
    font-size:2.5rem;
}

.hover:hover{
    transform: translateY(-0.5rem);
    transition: transform 150ms;
}


main .site-title .btn{
    margin: 1.8rem;
    background: var(--sky);
    border: none;
    text-align: center;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: var(--Livvic);
    cursor: pointer;
}


main .site-title .btn:hover{
    background:transparent;
    color:white;
    cursor :pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

/* ---------------------- CREATE NEW POST HEADER ---------------------*/
.new_post{
    font-family: var(--Abel);
    font-weight: bolder;
    font-size: 4rem;
    margin:10px;
    margin-bottom:30px;
}

/*------- NEW BLOG -------*/

.blog_title{
    font-family: var(--Abel);
    font-weight:1000 ;
    font-size:2.3rem;
    margin-bottom: 5px;
    background-color: rgba(255,255,255,0.6);
    height: 3.5rem; 
    margin-top: 6px; 
    width: 62ex;  
    color: rgb(7, 4, 4);
    

}
.blog_body{
    font-family: var(--Lexend);
    font-weight:500 ;
    font-size:18px;
    margin-bottom:0px;
    background-color: rgba(255,255,255,0.6); 
    border-radius: 5px ; 
    color:rgb(20, 19, 19);

}





  /*------------- Dropdown menu in category -----------*/
.dropdown {
    
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    color: var(--text-gray);
    border: none;
    outline: none;
    background-color: white;
    margin: 0;
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    
    position: relative;
    font-family: var(--Abel);
    
  }
  .dropdown .dropbtn:hover{
    background-color: var(--midnight);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
transform: translateY(0.1rem);
    transition: transform 150ms;
    color:white;
}
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    font-family: var(--Abel);
    color: var(--text-gray);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: var(--midnight);
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
    transform: translateY(0.1rem);
    transition: transform 150ms;
    color:white;
  }
  
  .show {
    display: block;
  }
